* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/img/background-ridges-image-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


/* Custom adjustments */

.masthead{
  height: 100vh;
}

.page-section {
  padding: 7rem 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.page-section .container {
  scroll-snap-type: y mandatory;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}


.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 25rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

#mainNav {
  animation: slide-in 1.3s both;
  animation-delay: 1.5s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.navbar {
  background-color: #2c3e50;
}

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #1abc9c;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #1abc9c;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #1abc9c;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #1abc9c;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

/* splash page */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo-header img {
  animation: rotate 0.6s ease-in-out both;
  animation-delay: 0.7s;
  width: 150%;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: "Poppins", sans-serif;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* splash page end */


.brand-logo {
  width: 33%;
  height: auto;
}

.brand-text{
  display: inline;
  position: fixed;
  color: #fff;
  margin-left: 1rem;
  margin-top: 0.7rem;
  font-family: "Poppins", sans-serif;
}

.form-floating input.form-control,
.form-floating textarea.form-control {
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1px;
}
.form-floating input.form-control:focus,
.form-floating textarea.form-control:focus {
  box-shadow: none;
}
.form-floating label {
  font-size: 1.5rem;
  color: #6c757d;
}

.masthead {
  padding-top: calc(7rem + 74px);
  padding-bottom: 4rem;
  background: rgb(33,147,176);
  background: linear-gradient(90deg, rgba(33,147,176,1) 0%, rgba(0,212,255,1) 100%);
  height: 38vh;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}


#

.img-fluid-portrait{
  display: block;
  max-width: 250px;
  /* min-width: 300px; */
  height: auto;
  /* border-style: solid; */
  border-radius: 0.5rem;
  position: relative;
} */

/* .portrait img {
  border-style: solid;
  border-radius: 0.5rem; */
}


.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio-item {
  position: relative;
  width: 100%;
}

.portfolio-item:hover {
  cursor: pointer;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2c3e50;
  border-radius: 0.5rem;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}
.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #2c3e50;
}

/* .carousel-inner {
  border-style: solid;
} */

@media (max-width: 576px) {
  .card {
    padding: 0;
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }

  .img-fluid-portait {
    width: 250px;
    height: auto;
  }

}

@media(max-width: 770px) {
  .intro img{
    width: 90%;
  }

  #about {
    margin: 7rem 0rem;
  }

  #projects {
    margin: 7rem 0rem;
  }

  #contact {
    margin: 7rem 0rem;
  }
  
  .page-section {
    height: 150vh;
  }

  .brand-text {
    font-size: 1.3rem;
    margin-top: 0.9rem;
  }
  
  .card {
    padding: 2rem 0;
    margin: 5rem 1rem;
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }


  .img-fluid-portrait {
    width: 220px;
    height: auto;
  }
}

/* .form-floating {
  width: 45rem;
  padding-right: 5rem;
} */